PORT=3000
APP_BASE_URL=https://seu-dominio.com
DATABASE_URL=postgres://postgres:Vextrom@2026@localhost:5432/formupsiec
DATABASE_SSL=false
ADMIN_USER=admin
ADMIN_PASS=@vextrom
ADMIN_SESSION_SECRET=change-me-too
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=change-me
SMTP_FROM=ups-form@example.com
DOCS_DIR=./opt/bitnami/AppFormUPSIEC/dados/docs
